<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar color="warn" class="grey">
    <mat-toolbar-row class="toolbar">
      <!-- <img src='https://jnj.brightspotcdn.com/resource/theme/jnj/images/logo-site-white-header-animated-med.22180f8ca16ad33fd51a4b8f78d4120d.gif' height="40" /> -->
      <img src='assets/images/EY_Logo.png' height="60" />
      <span>For demo purpose only</span>
    </mat-toolbar-row>
</mat-toolbar>
<div *ngIf="!(isLoggedIn$ | async)">
  <app-login></app-login>
</div>
<mat-sidenav-container fullscreen style="top: 64px; left: 8px; right: 8px;" *ngIf="isLoggedIn$ | async">
  <mat-sidenav mode="side" opened>
    <mat-toolbar>
      <mat-toolbar-row>
        <span>
          <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            <mat-icon fontSet="fas" fontIcon="fa-home"></mat-icon>
          </a>
        </span>
      </mat-toolbar-row>

      <mat-toolbar-row>
        <span>
          <a routerLink="/groundRules" routerLinkActive="active">
            <mat-icon fontSet="fas" fontIcon="fa-book"></mat-icon>
          </a>
        </span>
      </mat-toolbar-row>

      <mat-toolbar-row>
        <span>
          <a routerLink="/assessment" routerLinkActive="active">
            <mat-icon fontSet="fas" fontIcon="fa-user"></mat-icon>
          </a>
        </span>
      </mat-toolbar-row>

      <mat-toolbar-row>
        <span>
          <a routerLink="/calculator" routerLinkActive="active">
            <mat-icon fontSet="fas" fontIcon="fa-calculator"></mat-icon>
          </a>
        </span>
      </mat-toolbar-row>

      <mat-toolbar-row>
        <span>
          <a routerLink="/input" routerLinkActive="active">
            <mat-icon fontSet="fas" fontIcon="fa-id-card"></mat-icon>
          </a>
        </span>
      </mat-toolbar-row>

      <mat-toolbar-row>
        <span>
          <a routerLink="/dashboard" routerLinkActive="active">
            <mat-icon fontSet="fas" fontIcon="fa-chart-bar"></mat-icon>
          </a>
        </span>
      </mat-toolbar-row>
    </mat-toolbar>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>