  <mat-card>
    <mat-card-title>
        Company Ground Rules associated with HCP FFS FMV for Master Country Data
    </mat-card-title>
    <mat-card-content>
      <mat-list>
        <mat-list-item>Effective Date: Sep 2014</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>Business Rule does not allow Travel time compensation</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>Business Rule does not allow overriding of standard hours for Prep time compensation</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>On occasion, we engage HCPs on low fee basis. Such arrangements are permitted if they meet the standards set forth in the guidance provided by HCC and Law department</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>For development pf educational materials we pay by words: RMB 400-800 per thousand words</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>For material translation, we pay by words: RMB 120-200 per thousand words</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>For simultaneous translation, we pay by meeting RMB 8000-16000 for full day, RMB 4000 -8000 for half day</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>For general intepretation, we pay by meeting RMB 4000-8000 for full day, RMB 2000 -4000 for half day</mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>
