<mat-expansion-panel [expanded]="true" (opened)="panelOpenState = true"
(closed)="panelOpenState = false">
  <mat-expansion-panel-header>
    <mat-panel-title>
      FMV Calculator 
    </mat-panel-title>
    <mat-panel-description>
      <!-- Currently I am {{panelOpenState ? 'open' : 'closed'}} -->
    </mat-panel-description>
  </mat-expansion-panel-header>
  <!-- <app-xlsx-file-upload (uploadedXls)="xlsxUploaded($event)"> {{ message | async }} </app-xlsx-file-upload> -->
</mat-expansion-panel>
